/*====RESET=====*/
*{margin: 0; padding: 0; font-size: 100%; border: none; outline: none; font-weight: 300; box-sizing: border-box; font-family: 'Noto Serif', serif;}
/*body{background-color: #f5f5f5}*/
a{text-decoration: none; color: #921A1A; font-weight: 530;}
ul{list-style: none;}
img{max-width: 100%;}

/* HEADER */
.banner{
	width: 100%;
	height: 20%;
	float: top;
	text-align: center;
	padding: 3% 4%;
	background-image: url(img/body.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-color: black;
	/*background-attachment: fixed;*/
}
.title {
	width: 100%;
}
.title h2{
	font-size: 3em;
	color: #921A1A;
	font-weight: 700;
}
.title h3{
	font-size: 1.5em;
	color: #fff;
}

.lista ul{
	margin: 0px;
	padding:1%;
    background-color:#EDEDED;
    list-style:none;
    width: 100%;
    float: right;   
}
.lista li {
	display: inline;
	float: right;
	padding: 4px;
}
.lista a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}
.lista a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}

.topo{
	position: relative;
	float: right;
	color: #921A1A;
	margin-right: 2%;
	font-weight: 450;
}

/* Páginas Adjacentes */

.casas{
	width: 98%;
	float: left;
	text-align: left;
	padding: 3% 4%;
	margin: 1%;
	position: relative;
	clear: both;
	background-image: url(img/tributario.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
}

.titulo{
	width: 70%;
	float: left;
	text-align: left;
}
.titulo h2{
	font-size: 3em;
	color: #fff; font-weight: 700;
}

.buttons{
	width: 25%;
	float: right;
	margin-top: 0;
}
.buttons i{
	float: right;
}
.btn-cadastrar{
	width: 100%;
	font-size: 1.5em;
	text-align: left;
	cursor: pointer;
	padding: 5%;
	border-radius: 10px;
	background-color: #fff;
	color: #130400;
}
.btn-sobre{
	width: 100%;
	font-size: 1.5em;
	text-align: left;
	cursor: pointer;
	padding: 5%;
	border-radius: 10px;
	background-color: #130400;
	color: #fff;
	margin-top: 2%;
}

/* Conteúdo - Páginas Adjacentes */
.servicos{width: 100%; float: left; padding: 3% 4%;}
.servico{width: 80%; background-color: #fff; text-align: justify; border-radius: 7px; margin-bottom: 3%; margin-left: 8%;}
.inner {padding: 5%;}
.inner h1 {font-size: 1.5em; font-weight: 700;}
.inner h4{font-size: 1.2em; color: #130400; margin-top: 2%;}
.inner p{margin-top: 1%; text-align: justify; color: #130400; line-height: 1.5em;}

/* NEWSLETTER */
.newsletter {width: 98%; float: left; text-align: center; padding: 3% 4%; background-color: rgba(0,0,0,.4); margin: 1%;}
.newsletter h2 {font-size: 1.5em; color: #fff; font-weight: 700;}
.newsletter button {width: 20%; background-color:  #921A1A; color: #130400; padding: 2%; border-radius: 5px; cursor: pointer; margin-top: 2%; font-size: 1em; font-weight: 750;}
.newsletter i{position: absolute; font-size: 4em; margin-bottom: 1%; margin-top: -6%; color:  #921A1A;}


/* MENU DINÂMICO */
.fundo{
	width: 80%;
	position: relative;
	background-image: url(img/body.png);
	background-repeat: no-repeat;
	margin-left: 10%;
	margin-top: -5%;
	background-position: center;
	/*background-attachment: fixed;*/
	overflow: auto;
}
.menu{
	line-height: 2;
	margin-top: -7.5%;
	position: relative;
	border-radius: 70px 70px 70px 70px;
	background-color: #FFFAFA;
	border-style: inset;
	border-width:medium; 
	opacity: 0.7;
	font-size: 18px;
	font-family:serif;
	text-align: center;
	vertical-align: middle;
}

#menu{
	margin-left: 50px;
	margin-top: 220px;
	animation-name: menu;
	animation-fill-mode: forwards;
	animation-duration: 0.3s;
}

#menu2{
	margin-left: 50px;
	margin-top: 45px;
	animation-name: menu;
	animation-fill-mode: forwards;
	animation-duration: 0.5s;
}
#menu3{
	margin-left: 50px;
	margin-top: 45px;
	animation-name: menu;
	animation-fill-mode: forwards;
	animation-duration: 0.7s;
}
#menu4{
	top: -45px;
	margin-right: 45px;
	animation-name: menu;
	animation-fill-mode: forwards;
	animation-duration: 0.4s;
	float:right;
}
#menu5{
	top: -45px;
	margin-right: 45px;
	animation-name: menu;
	animation-fill-mode: forwards;
	animation-duration: 0.6s;
	float:right;
}
#menu6{
	top: -45px;
	margin-right: 45px;
	animation-name: menu;
	animation-fill-mode: forwards;
	animation-duration: 0.8s;
	float:right;
}
.menu:hover {
	transform: scale(1.2, 1.2);
	background-color: silver;
	opacity: 0.6;
	border-style: outset;
	font-size: 17px;
	font-weight:bolder;
	font-variant: small-caps;
}

@keyframes menu{
	0%{
		width: 5%;
		height: 0px;
	}
	10%{
		width: 5%;
		height: 10px;
	}
	20%{
		width: 5%;
		height: 20px;
	}
	30%{
		width: 5%;
		height: 30px;
	}
	40%{
		width: 5%;
		height: 40px;
	}
	50%{
		width: 8%;
		height: 40px;
	}
	60%{
		width: 10%;
		height: 40px;
	}
	70%{
		width: 16%;
		height: 40px;
	}
	80%{
		width: 20%;
		height: 40px;
	}
	90%{
		width: 26%;
		height: 40px;
	}
	100%{
		width: 32%;
		height: 40px;
	}
}



/* RODAPÉ */
.rodape{
	clear: both;
	position: relative;
	bottom: 0%;
	width: 100%;
	float: left;
	padding: 3% 4%;
	text-align: center;
	background: linear-gradient(to left, black, brown);
}
.social a{
	color: white;
	font-size: 1.5em;
	margin-right: 3%;
}
.social a:last-child{
	margin-right: 0;
}
.social a:hover{
	color: black;
}
.copyright{
	font-size: 0.8em;
	margin-top: 2%;
	color: rgba(255,255,255,0.7);
}
